# Ignorar o repositório de treinamento do Tesseract, pois é um clone
/tesstrain/

# Ignorar todos os arquivos dentro dos diretórios de dataset e output
# Apenas as pastas vazias serão monitoradas, o que é bom para estrutura
/dataset/*
/output/*

# Ignorar arquivos temporários e logs que podem ser gerados
*.log
*.lstmf